
.menu-elements{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 500000;
    position: sticky;
}
.left{
    display: flex;
    gap: 40px;
}
.open{
    text-align: right;
    padding: 1rem 1rem;
}
.close{
    text-align: right;
}
.navigation-mobile{
    padding: 1rem 1rem;
    height: 100vh;
}
.navigation-mobile .left{
    display: block;
    text-align: right;
}
.navigation-mobile .right{
    text-align: right;
}
@media (min-width: 1024px){
    .menu-elements{
        padding-left: 7rem;
    }
}