input[type="radio"] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1300px;
  max-height: 900px;
  height: 500px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

img.website-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: left;
}
img.fintegrow {
  object-position: center;
}

#item-1:checked ~ .cards #website-3,
#item-2:checked ~ .cards #website-1,
#item-3:checked ~ .cards #website-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #website-2,
#item-2:checked ~ .cards #website-3,
#item-3:checked ~ .cards #website-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #website-1,
#item-2:checked ~ .cards #website-2,
#item-3:checked ~ .cards #website-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #website-1 img,
#item-2:checked ~ .cards #website-2 img,
#item-3:checked ~ .cards #website-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.website-description {
  background-color: #fff;
  border-radius: 8px;
  min-width: 300px;
  padding: 16px 10px;
  height: 195px;
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
}

.play-icon {
  margin-right: 10px;
}

.website-info {
  width: calc(100% - 32px);
  display: block;
}

.website-info .title {
  color: #282828;
  line-height: 1.7;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle {
  font-size: 14px;
  color: #959595;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform 0.4s ease-in;
}

.hero {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
}
.hero h1 {
  font-size: 8rem;
  margin-bottom: 0.5rem;
  padding-top: 3rem;
}
.hero p {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}
.hero h2 {
  font-size: 2.5rem;
  margin-top: 0.7rem;
  color: #282828;
}
.orange {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 250px;
}
.pink {
  position: absolute;
  top: 70vh;
  right: 0;
  max-width: 300px;
  box-sizing: border-box;
}

.about {
}
.about h1 {
  padding: 0 1rem;
}
.services {
  display: grid;
  gap: 50px;
}
.services div {
  display: block;
  justify-content: center;
  text-align: center;
  max-width: 340px;
  margin: 0 auto;
}
.services div img {
  max-width: 200px;
}
.services div h2 {
  margin-top: 0;
}
.portfolio {
}
.portfolio-heading {
  display: grid;
  grid-template-columns: 75% 40%;
  padding: 0 1rem;
}
.portfolio-heading h1 {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-bottom: 0.5rem;
}
.portfolio-heading p {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 0;
}
.portfolio-heading img {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 140px;
  align-self: center;
  position: absolute;
  right: 0;
}
.contact {
  display: grid;
  padding-top: 2rem;
  row-gap: 30px;
}
.portfolio-websites {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  gap: 50px;
}
.portfolio-websites .website img {
  width: 100%;
  height: 200px;
  border-radius: 7px;
}
.portfolio-websites .website button {
  border: none;
  outline: none;
  color: inherit;
  background: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--pink);
  padding: 0.5rem 0;
  width: 70px;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: -1rem;
}
.portfolio button.download {
  background-color: #90d8f3;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 1rem;
  border-radius: 50px;
}
.portfolio button.download:hover {
  background-color: #c7e9f7;
  color: #4ebfe9;
}
.website {
  max-width: 500px;
}

.website img.wave {
  width: 70px;
  object-fit: contain;
  display: block;
  margin: 0;
  height: 40px;
}
.build {
  background-image: url("../../../public/images/grey-build.png");
  background-position: center;
  padding: 0;
  height: 300px;
}
.build-grid {
  display: grid;
  grid-template-columns: 73% 30%;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  padding-top: 2rem;
}
.build-grid h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 2rem;
  margin: 0;
}
.build-grid p {
  grid-column: 1/2;
  grid-row: 2/3;
}
.build-grid img {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 90px;
}
.build .stripes {
  position: absolute;
  max-width: 150px;
  right: 0;
  padding-top: 130px;
}
section {
  margin: 3rem 0;
  padding: 0 1.3rem;
}

.contact img {
  max-width: 45vw;
  margin: 0 auto;
  max-width: 150px;
}
.contact div {
  text-align: center;
}
.contact h2 {
  margin: 0;
}
.contact-form {
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color: #faf8fd;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.form {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 500px;
}
input,
textarea {
  outline: none;
  border: none;
  background-color: #ebe0ff;
  padding: 1rem;
  border-radius: 50px;
  width: 100%;
  box-sizing: border-box;
  max-width: 570px;
}
input:focus,
textarea:focus {
  background-color: #f7f2ff;
  box-shadow: 0px 0px 30px 1px rgba(221, 206, 249, 0.9);
}
.violet-btn:hover {
  background-color: #f0e7ff;
  transition: background-color 0.2s ease;
  color: #c4abf3;
}

.violet-btn {
  transition: background-color 0.2s ease;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #c4abf3;
  padding: 1rem;
  border-radius: 50px;
  width: 180px;
  margin-top: 2rem;
  font-size: 1rem;
  display: block;
  color: white;
  font-weight: 600;
}
.contact-img img {
  max-width: 600px;
  visibility: hidden;
  width: 1px;
}
textarea {
  height: 150px;
  border-radius: 25px;
}

footer {
  background-color: #f5ae81;
  text-align: center;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  /* font-weight: 600; */
  box-shadow: 0px -4px 10px -8px rgba(117, 117, 117, 0.8);
  align-items: center;
  font-size: small;
}
footer div {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 768px) {
  /* input, textarea{
    min-width: 500px;

  } */
  .portfolio button.download {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    margin-top: 3rem;
  }
  footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 4rem;
  }
  section {
    padding: 0 3rem;
  }
  .about h1 {
    text-align: center;
  }
  .portfolio-websites {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .portfolio-heading {
    text-align: center;
    padding-left: calc(78% - 50vw);
  }
  .portfolio-heading img {
    position: static;
    width: 160px;
  }
  .website:nth-child(odd) {
    justify-self: end;
  }

  .website:nth-child(even) {
    justify-self: start;
  }
  .build-grid {
    padding: 2rem 6rem;
  }
  .build .stripes {
    padding-right: 50px;
    max-width: 200px;
  }
  .build-grid img {
    max-width: 100px;
  }
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 7rem;
    max-width: 750px;
    margin: 0 auto;
  }
  /* .hero h1{
    font-size: 10rem;
  }
  .hero p{
    font-size: 2.3rem;
   }
   .hero h2{
    font-size: 3.2rem;
   } */
}
@media (min-width: 1024px) {
  .container {
    height: 700px;
  }
  .website-description {
    height: 150px;
  }
  .hero h1 {
    margin-top: 10rem;
  }
  section {
    padding: 0 6rem;
  }
  .portfolio-heading img {
    right: 530px;
  }
  .build {
    background-size: cover;
    background-image: url("../../../public/images/grey-build-big.png");
    min-height: calc(260px + 7vw);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
  }
  .build-grid img {
    visibility: hidden;
    height: 1px;
    width: 1px;
  }
  .build .stripes {
    visibility: hidden;
    height: 1px;
    width: 1px;
  }
  .build-grid {
    display: block;
    padding-top: 4rem;
  }
  .build-grid h1 {
    text-align: center;
    margin: 0 auto;
    max-width: 70vw;
  }
  .build-grid p {
    text-align: center;
    max-width: 45vw;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) and (orientation: portrait) {
  .hero h1 {
    padding-top: 15rem;
  }
}
@media (min-width: 1280px) {
  footer {
    padding: 3rem 8rem;
  }
  .services {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 0 4rem 0;
  }
  .contact-form {
    grid-template-columns: 60% 40%;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .form {
    display: grid;
    width: 100%;
    justify-content: center;
  }
  input,
  textarea {
    min-width: 500px;
  }
  .contact-img img {
    visibility: visible;
    width: 400px;
  }
  section {
    margin: 6rem 0;
  }
}
@media (min-width: 1440px) {
  section {
    padding: 0 10rem;
  }
  .contact-form {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }
  .contact-img img {
    width: 500px;
    padding-right: 6rem;
  }
  input,
  textarea {
    min-width: 550px;
  }
}
@media (min-width: 1680px) {
  .hero h1 {
    font-size: 9.2rem;
    margin-top: 12rem;
  }
  .hero p {
    font-size: 2.15rem;
  }
  .hero h2 {
    font-size: 2.95rem;
  }
  img.orange {
    max-width: 370px;
  }
  img.pink {
    max-width: 400px;
  }
  .section {
    margin: 9rem 0;
  }
  .portfolio-heading {
    padding-left: calc(92% - 50vw) !important;
    grid-template-columns: 54% 39% !important;
  }
}
.visit-btn {
  font-size: small;
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 60px;
  background-color: #90d8f3;
}
.visit-btn:hover {
  background-color: #c7e9f7;
  color: #4ebfe9;
}
